$font: Quicksand, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
$c-main: #b3c6ff
$c-good: #b3ffb9
$c-darker: #646cff
$c-bg: #242424
$c-error: #ff6b6b

$nav-height: 4rem
$w-mobile: 560px
$w-max: 900px

$c-lv0: #6ED43E
$c-lv1: #F7B807
$c-lv2: #FF828D
$c-lv3: #A051DC