{
	"trailingComma": "es5",
	"semi": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
