version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
      - "8443:8443"
      - "22345:22345"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mariadb://db:3306/main
      - SPRING_DATASOURCE_USERNAME=cat
      - SPRING_DATASOURCE_PASSWORD=meow
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.mariadb.jdbc.Driver
    depends_on:
      - db
    volumes:
      - ./config:/app/config
      - ./data:/app/data

  db:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: meow
      MYSQL_DATABASE: main
      MYSQL_USER: cat
      MYSQL_PASSWORD: meow
    ports:
      - "127.0.0.1:3369:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data: