<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="6.8.1" targetFramework="net472" developmentDependency="true" />
  <package id="ILMerge.Fody" version="1.24.0" targetFramework="net472" />
  <package id="Samboy063.Tomlet" version="5.4.0" targetFramework="net472" />
</packages>